#titre {
    margin: 0 auto;
    width: 90%;

    border: 2px solid black;
    border-radius: 10px;

    background-color: #f5f5f5;

    text-align: center;

    padding: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#titre h1 {
    margin-top: 0;
    color: #333;
}

#titre p {
    font-style: italic;
}

 #text {
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

#legende {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
    
}

span.dial {
    border-radius: 4px;
    font-style: italic;
}

span.dial.direct {
    border: 2px solid;
}

span.dial.indirect {
    border: 2px dashed;
}


span.dial.tds {
    border-color: #ff0000; /* Rouge */
}


span.dial.justice {
    border-color: #0000ff; /* Bleu */
}


span.dial.agresseur {
    border-color: #008000; /* Vert */
}

span.ref.homme {
    background-color: #e6ffe6; /* Vert pâle */
}

/* Style pour les spans avec classe ref et tds */
span.ref.tds {
    background-color: #ffcccc; /* Rouge pâle */
}

/* Style supplémentaire pour améliorer la lisibilité */
span.ref {
    transition: background-color 0.2s ease; /* Animation douce au survol */
}

/* Effet au survol pour une meilleure interaction */
span.ref.homme:hover {
    background-color: #ccffcc; /* Vert légèrement plus foncé au survol */
}

span.ref.tds:hover {
    background-color: #ff9999; /* Rouge légèrement plus foncé au survol */
}
